* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#catncorgi {
    height: 100vh;
    width: 40vh;
}

main {
    display:flex;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

